# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Node modules & build artifacts
node_modules/
dist/
.vite/

# Flask local database
instance/
*.db